*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ===== HEADER STYLES */

.container{
    width: 100%;
    border-radius: 15px;
    height: 120px;
    background-color:#8FBC8B;
    position: fixed;
    top: 0;
    z-index: 222;
}
.header{
   /* position: relative; */
    height: 50px;
    padding-bottom: 30px;
    width: 100%;
    display: inline-block;
    background-color: white;
}
 .header .logo{
    padding-left: 20px;
    float: left;
} 

.header .access{
    position: relative;
    float: right;
    display: flex;
    margin-right: 12px;
    margin-top: 8px;
}
.header .access a{
     text-decoration: none;
     color: black;
     padding: 3px 5px;
     margin-left: 2px;
     background-color:#A9BA9D;
     border: 1px solid;
     background-clip: padding-box;
     border-radius: 15px;
}
.header .access a:hover{
    background-color: #8FBC8B;
}
.menu{
    /* position: sticky;
    z-index: 222;
    top: 80px; */
    height: 70px;
    width: 100%;
    padding-right: 10px;
    display:flex;
}
/* .container .menu{
   position: fixed;
} */

.menu .links{
    float: right;
}
.menu .log-text{
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 43%;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu .log-text::first-letter{
    font-size: 50px;
    font-weight:900;
} 

.menu .log-text:hover{
    cursor: pointer;
}

.menu ul{
    display: flex;
    padding-top: 20px;
}
.menu ul li{
    padding: 10px;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 28px;
    font-weight: bold;
}
.menu ul li a:hover{
    text-decoration: underline;
    
}


.content{
    display: flex;
    position: relative;
    width: 100%;
}

/* ===== SIDE BAR STYLES =====*/

.content .sideBar{
    height: 500px;
    width: 300px;
    overflow: scroll;
    color: black;
    float: left;
    background-color: #A9BA9D;
    margin-left: 2px;
    position:sticky;
    top: 160px;
    z-index: 222;
}
.content .heads{
    text-align: center;
    color: black;
    padding: 10px 0;
    width: 230px;
    height: 50px;
    position: fixed;
    background-color: #A9BA9D;
    background-clip:padding-box;
    border-radius: 10px;
    top: 121px;
    border: 1px solid;
    z-index: 222;
}
.heads:hover{
    cursor: pointer;
    opacity: 0.7;
}

/* Other content */

/*.content .other{
    background-color: white;
    position: relative;
    height:1000px;
    width: 1115px;
    padding: 10px 10px;
    margin-left: 3px;
    margin-top: 3px;
    border-radius: 20px;
} */

.content .other{
    position: relative;
    margin-left: 3px;
    height:1000px;
    width: 100%;
    margin-top: 130px;
}
.content .sideBar .category{
    color: inherit;
    font-weight: bolder;
    font-size: 1.5rem;
    justify-content: left;
    padding: 10px 5px;
    margin-left: 25px;
    color: black;
}

.content .sideBar .category #wat:hover #water{
    display: block;
}

.content .sideBar .subCategory ul{
    list-style-type:circle;
}

li:hover{
cursor: pointer;
}
 .sideBar .description {
    color: inherit;
    font-size: 18px;
    justify-content: left;
    padding: 7px 3px;
    margin-left: 25px;
    color:black;
   /*  display: none; */
}
.content .sideBar .category:hover{
    text-decoration: underline;
}

.explore {
    text-decoration: none;
    font-size: large;
}


.foot{
    display: flex;
    padding: 1px 1px ;  
    justify-content: center;
    font-size: medium;
    font-weight: bold;
}
.contact{
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
    font-size: medium;
}
.qlinks a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: medium;
}
.qlinks a:hover{
    color: white;
    text-decoration: underline;
}
.footer{
    margin: 0px; 
    border-top: 2px solid;
    background-color:#8FBC8B;
    color:black;
    border-radius: 10px;
    width: 100%;
    margin-top: 1000px;
}
.rights{
    font-size: larger;
    font-weight: bold;
    padding-bottom: 20px;
}


/*
.content .sideBar .subCategory ::marker{
    content: "-->";
} /*

/* Responsive styles */

@media(max-width: 600px) {
    .header{
        gap: 40%;
    }
    .sideBar{
        display: none;
    }
}